## Předvýběr území na základě limitujících podmínek
Karolína Fenclová, Diplomová práce

Skript pro analýzu hodnot pro základní kritéria

In [1]:
# -*- coding: utf-8 -*-
from __future__ import unicode_literals
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\fenclova\diplomka\analyza\vysledky\875\0_predvyber.csv", delimiter=';').set_index('ID')
df.head()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
ID,,,,,,,,,
1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01

In [3]:
# PODMÍNKA: délka železnice
zeleznice_delka_min = 3000
zeleznice_delka_max = 10000

# PODMÍNKA: výskyt zástavby
zastavba_rozloha_min = 0.2*1000*1000 #0,2 km2 ve skutečnosti (velmi řídké osídlení)
zastavba_rozloha_max = 2*1000*1000   #2km2 ve skutečnosti (1/8 území) 2cm2 v mapě 1 : 50 000 2*(2*500)**2

# PODMÍNKA: maximalni povolena rozloha skal a povrchové těžby
relief_rozloha_max = 1*250*250 # 1cm2 v mapě 1 : 25 000

In [4]:
# řeky řádovost
reky_delka = pd.read_csv(r'C:\fenclova\diplomka\analyza\vysledky\875\2_radovost_toku.csv').set_index('ID')
reky_delka.head()

,celkova_delka,r0,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10
ID,,,,,,,,,,,,
1,12224.01,0.00,0.0,0.0,0.00,8119.40,4104.61,0.00,0.0,0.0,0.0,0.0
2,14621.19,741.85,0.0,0.0,5791.02,8088.32,0.00,0.00,0.0,0.0,0.0,0.0
3,12917.95,0.00,0.0,0.0,3614.38,5030.25,2894.37,1378.95,0.0,0.0,0.0,0.0
4,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0
5,14544.61,0.00,0.0,0.0,1900.49,8096.87,4547.25,0.00,0.0,0.0,0.0,0.0

In [5]:
# funkce sečte kolik řádů má délku větší 500 m
def pocet_radu(radek):
    return len(filter(lambda x: x>500, list(radek)[3:]))

# pro všech 16 dílků spočti součet linii v každém čtverečku
pocet_radu = reky_delka.apply(pocet_radu, axis=1)
reky_delka["pocet_radu"] = pocet_radu

In [6]:
reky_delka.head()

,celkova_delka,r0,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu
ID,,,,,,,,,,,,,
1,12224.01,0.00,0.0,0.0,0.00,8119.40,4104.61,0.00,0.0,0.0,0.0,0.0,2
2,14621.19,741.85,0.0,0.0,5791.02,8088.32,0.00,0.00,0.0,0.0,0.0,0.0,2
3,12917.95,0.00,0.0,0.0,3614.38,5030.25,2894.37,1378.95,0.0,0.0,0.0,0.0,4
4,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0
5,14544.61,0.00,0.0,0.0,1900.49,8096.87,4547.25,0.00,0.0,0.0,0.0,0.0,3

In [7]:
df = df.join(reky_delka)
df.tail()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha,celkova_delka,...,r2,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu
ID,,,,,,,,,,,,,,,,,,,,,
871,0,0,0.0,0,3386.93,5504.67,30637.78,3625.95,1495668.19,0.00,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0
872,0,10,0.0,0,5022.59,5981.77,251070.75,13535.81,534737.16,17516.93,...,0.0,0.0,7880.38,7010.46,2626.1,0.0,0.0,0.0,0.0,3
873,0,0,0.0,0,5019.25,9075.87,152686.74,924828.83,1488387.67,2861.94,...,0.0,0.0,895.71,1966.23,0.0,0.0,0.0,0.0,0.0,2
874,0,0,0.0,0,5319.84,5991.45,113714.38,754517.40,1527402.42,2376.08,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0
875,0,0,0.0,0,8356.38,762.32,1557485.76,22941.92,328163.62,0.00,...,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0

In [8]:
predvyber = df[(df.zeleznice_delka >= zeleznice_delka_min) & (df.zeleznice_delka <= zeleznice_delka_max) &
                (df.zastavba_rozloha >= zastavba_rozloha_min) & (df.zastavba_rozloha <= zastavba_rozloha_max)&
                (df.relief_rozloha <= relief_rozloha_max) &
               (df.rozvodniceIII_delka >= 500) &
               (df.nejlepsi_podil_ploch >= 1) & (df.nejlepsi_podil_ploch <=2) # 1/2 - 1/3 plochy
                 & (df.pocet_pruseciku >= 5) # pojistka pro případ chyby při výpočtech
                & (df.pocet_radu >=2) # minimálně 2 řády
                & (df.pocet_radu <=4) # maximum řádů = 5
                 & (df.r0 <= 1000)
             ]
predvyber.describe()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha,celkova_delka,...,r2,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,6.500000e+01,65.000000,6.500000e+01,65.000000,...,65.000000,65.000000,65.00000,65.000000,65.000000,65.000000,65.000000,65.000000,65.0,65.000000
mean,3.200000,31.461538,1.447231,19.430769,5612.606000,2944.123538,3.929306e+05,8813.348769,9.758339e+05,17510.484923,...,1280.679846,3895.703077,5283.90200,3653.265077,2329.808462,784.785385,191.362923,33.025692,0.0,3.276923
std,8.091662,31.389228,0.306010,5.474284,1827.273414,2005.828513,7.865903e+05,14554.285724,4.172869e+05,5678.112235,...,2482.071929,3776.887894,4029.15121,3834.164922,3249.366484,1812.864264,862.743837,266.261644,0.0,0.718238
min,0.000000,1.000000,1.000000,13.000000,3058.830000,507.080000,1.932620e+03,0.000000,2.220841e+05,7549.400000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,2.000000
25%,0.000000,12.000000,1.180000,16.000000,4320.300000,1359.010000,4.474242e+04,0.000000,6.016734e+05,12957.930000,...,0.000000,0.000000,810.38000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3.000000
50%,0.000000,20.000000,1.440000,18.000000,5233.040000,2610.660000,9.883698e+04,933.780000,9.605642e+05,17132.370000,...,0.000000,4269.350000,5633.36000,2424.620000,529.800000,0.000000,0.000000,0.000000,0.0,3.000000
75%,0.000000,40.000000,1.730000,22.000000,6466.710000,3774.480000,3.693495e+05,11964.970000,1.310102e+06,20498.370000,...,847.540000,5718.010000,8652.10000,6473.810000,3763.530000,0.000000,0.000000,0.000000,0.0,4.000000
max,38.000000,152.000000,2.000000,38.000000,9822.260000,11246.500000,4.581831e+06,60046.100000,1.820650e+06,30830.140000,...,10630.770000,16522.950000,12885.52000,14263.050000,11765.380000,7162.380000,5848.800000,2146.670000,0.0,4.000000

In [9]:
# funkce vrátí 1=True pokud ID splňuje podmínku
def splnuje (radek):
    return 1
    
predvyber_true = predvyber.apply(splnuje, axis=1).to_frame()
predvyber_true.columns = ['predvyber_ANO']
predvyber_true.head()

    predvyber_ANO
ID
19              1
47              1
72              1
87              1
96              1

## spojeni s HYPSOMETRyjí

In [10]:
hypso_body = pd.read_csv(r"C:\fenclova\diplomka\analyza\vysledky\875\1_hypsometrie_body.csv").set_index("ID")

In [11]:
hypso_body.head()

    hypso_body
ID
0            0
1            4
2            4
3            3
4            0

In [12]:
hypso_body[hypso_body.hypso_body > 0].describe()

       hypso_body
count  759.000000
mean     3.403162
std      0.996453
min      1.000000
25%      3.000000
50%      3.000000
75%      4.000000
max      7.000000

In [39]:
# pouze podil ploch 
predvyber2 = df[#(df.relief_rozloha <= relief_rozloha_max)
               #(df.rozvodniceIII_delka >= 500) &
              (df.nejlepsi_podil_ploch >= 1) & (df.nejlepsi_podil_ploch <=2) # 1/2 - 1/3 plochy
               
                #& (df.pocet_pruseciku >= 5) # pojistka pro případ chyby při výpočtech
                #& (df.pocet_radu >=2) # minimálně 2 řády
                #& (df.pocet_radu <=5) # maximum řádů = 5
                #& (df.r0 <= 1000)
             ]
predvyber2.describe()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha,celkova_delka,...,r2,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu
count,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,2.170000e+02,2.170000e+02,2.170000e+02,217.000000,...,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000
mean,2.760369,28.940092,1.372673,19.258065,6614.901198,3733.116083,3.569867e+05,5.466974e+04,1.754168e+06,17818.321336,...,1973.409724,4177.897558,4700.317650,3704.061382,1905.221429,539.848295,110.500184,27.109954,7.604055,3.244240
std,7.344543,36.480222,0.298188,4.653527,6347.402190,2931.165230,5.544075e+05,1.675140e+05,1.722909e+06,6090.226938,...,3201.590397,4084.126557,3727.701983,3937.737020,3094.184233,1548.329992,597.834076,209.862436,112.014729,0.938022
min,0.000000,1.000000,1.000000,13.000000,0.000000,25.500000,7.270200e+02,0.000000e+00,2.020700e+03,4429.700000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,10.000000,1.110000,16.000000,3086.770000,1491.320000,6.326880e+04,0.000000e+00,6.580262e+05,13010.140000,...,0.000000,0.000000,810.380000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,0.000000,20.000000,1.300000,18.000000,4806.580000,3177.750000,1.617768e+05,3.041800e+03,1.212097e+06,17285.990000,...,0.000000,4394.170000,4924.820000,2641.600000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,0.000000,40.000000,1.620000,22.000000,7738.570000,4877.520000,4.562362e+05,2.880707e+04,2.033533e+06,20934.210000,...,4102.080000,6368.480000,7480.610000,6600.570000,2423.810000,0.000000,0.000000,0.000000,0.000000,4.000000
max,60.000000,420.000000,2.000000,38.000000,38861.900000,17385.290000,4.581831e+06,1.603684e+06,1.158311e+07,49461.020000,...,17887.090000,16522.950000,13883.660000,20598.820000,16235.700000,9319.950000,5848.800000,2146.670000,1650.080000,7.000000

In [48]:
# kdyz nejdriv resim hypso & vodni tok a pak az zbytek :-) 

df2 = df.join(hypso_body)

# body od 3 do 5 prijatelne (ideal == 4)
df2[(df2.hypso_body >= 3) & (df2.hypso_body <= 5) 
#     & (df2.zeleznice_delka >= zeleznice_delka_min) & (df2.zeleznice_delka <= zeleznice_delka_max)
#     & (df2.relief_rozloha <= 1*relief_rozloha_max)
#     & (df2.rozvodniceIII_delka >= 500)
     & (df2.nejlepsi_podil_ploch >= 1) & (df2.nejlepsi_podil_ploch <=2)
#     & (df2.pocet_pruseciku >= 5)
#     & (df2.pocet_radu >=2)
#     & (df2.pocet_radu <=4)
#     & (df2.r0 <= 1000)
#     & (df2.celkova_delka <= 25000)
    #& (df2.vodni_plohy_rozloha <= 100000)

   ].describe()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha,celkova_delka,...,r3,r4,r5,r6,r7,r8,r9,r10,pocet_radu,hypso_body
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,1.470000e+02,1.470000e+02,1.470000e+02,147.000000,...,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,2.197279,22.938776,1.393605,19.163265,6329.894422,3428.564286,2.480787e+05,5.640661e+04,1.748969e+06,17087.452041,...,3799.160544,4753.277415,3824.530544,1997.674014,596.812109,146.802721,35.325102,11.225034,3.224490,3.687075
std,6.977105,19.819813,0.297146,4.306797,5896.789000,2753.558769,3.216712e+05,1.810697e+05,1.764062e+06,5202.824942,...,3926.973078,3668.233156,3540.978163,3058.436878,1675.080080,709.512130,248.460684,136.096305,0.920065,0.774621
min,0.000000,1.000000,1.000000,13.000000,0.000000,25.500000,7.270200e+02,0.000000e+00,8.804983e+04,4429.700000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
25%,0.000000,9.000000,1.145000,16.000000,3151.205000,1221.730000,4.326574e+04,0.000000e+00,6.033446e+05,13402.765000,...,0.000000,809.640000,514.520000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
50%,0.000000,16.000000,1.320000,18.000000,4772.890000,2942.570000,1.203134e+05,3.041800e+03,1.080774e+06,17074.990000,...,4093.560000,5018.950000,3458.610000,508.590000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
75%,0.000000,31.000000,1.635000,21.500000,7363.225000,4656.515000,3.177425e+05,3.168428e+04,2.467382e+06,20364.350000,...,5978.965000,7416.590000,6511.175000,2414.395000,0.000000,0.000000,0.000000,0.000000,4.000000,4.000000
max,60.000000,130.000000,1.980000,38.000000,38861.900000,17385.290000,1.726457e+06,1.603684e+06,1.158311e+07,30955.910000,...,15658.530000,13883.660000,14263.050000,11765.380000,9319.950000,5848.800000,2146.670000,1650.080000,6.000000,5.000000

## Data o povodí

In [23]:
povodi = pd.read_csv(r"C:\fenclova\diplomka\analyza\vysledky\875\2_pocet_povodi.csv").set_index("ID")

In [24]:
povodi.describe()

       pocet_povodi  rozvodnice_delka     reky_delka
count    872.000000        872.000000     872.000000
mean      11.159404      44756.295872   30224.223570
std        4.788146      12004.572083   13269.525171
min        0.000000          0.000000       0.000000
25%        8.000000      37762.500000   22945.953668
50%       11.000000      45805.000000   30662.382933
75%       14.000000      52487.500000   37839.414125
max       31.000000      88350.000000  106032.527163

In [ ]:
# proc jen 872 povodi?

In [68]:
povodi[(povodi.pocet_povodi >= 8)&(povodi.pocet_povodi <= 11)].describe()

       pocet_povodi  rozvodnice_delka    reky_delka
count    260.000000        260.000000    260.000000
mean       9.580769      42703.557692  28759.526991
std        1.099849       4818.366120  10069.130384
min        8.000000      28530.000000   3473.546739
25%        9.000000      39577.500000  23300.246402
50%       10.000000      43122.500000  28801.425342
75%       11.000000      45730.000000  33941.245255
max       11.000000      64340.000000  65574.679509