In [137]:
import pandas as pd
df = pd.read_csv(r"C:\fenclova\diplomka\analyza\git_diplomka\predvyber_vysledky\0_predvyber.csv", delimiter=";")
df.head() # initial few rows

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
0,1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
1,2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
2,3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
3,4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
4,5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01

In [138]:
rows, columns = df.shape # dimension of csv
print rows, columns

875 10

In [139]:
df.head(2) # first few rows

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
0,1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
1,2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91

In [140]:
df.tail() # last few rows

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
870,871,0,0,0.0,0,3386.93,5504.67,30637.78,3625.95,1495668.19
871,872,0,10,0.0,0,5022.59,5981.77,251070.75,13535.81,534737.16
872,873,0,0,0.0,0,5019.25,9075.87,152686.74,924828.83,1488387.67
873,874,0,0,0.0,0,5319.84,5991.45,113714.38,754517.40,1527402.42
874,875,0,0,0.0,0,8356.38,762.32,1557485.76,22941.92,328163.62

In [141]:
df[2:5]

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
2,3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
3,4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
4,5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01

In [142]:
df.columns

Index([u'ID', u'find_path_problem', u'end_start_kombinace',
       u'nejlepsi_podil_ploch', u'pocet_pruseciku', u'zeleznice_delka',
       u'rozvodniceIII_delka', u'vodni_plohy_rozloha', u'relief_rozloha',
       u'zastavba_rozloha'],
      dtype='object')

In [143]:
df.relief_rozloha
df.relief_rozloha.head()

0     5767.13
1     1145.86
2        2.00
3        0.00
4    56606.64
Name: relief_rozloha, dtype: float64

In [144]:
type(df['ID'])

pandas.core.series.Series

In [145]:
df[['ID', 'relief_rozloha']].head()

   ID  relief_rozloha
0   1         5767.13
1   2         1145.86
2   3            2.00
3   4            0.00
4   5        56606.64

In [146]:
df['ID'].max() # max, min, mean, std

875

In [147]:
df.describe() # statistics for integer data

,ID,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
count,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000,875.000000,8.750000e+02,8.750000e+02,8.750000e+02
mean,438.000000,3.086857,25.466286,1680.348629,11.355429,5452.798571,4196.851897,2.230366e+05,8.224765e+04,1.377615e+06
std,252.735039,8.736506,34.843648,17757.882748,7.465287,5409.768998,2518.418469,3.882319e+05,5.530714e+05,1.562079e+06
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.310000,0.000000e+00,0.000000e+00,0.000000e+00
25%,219.500000,0.000000,6.000000,1.320000,5.000000,2536.830000,2314.095000,2.612476e+04,0.000000e+00,5.196830e+05
50%,438.000000,0.000000,16.000000,3.480000,12.000000,4366.110000,4421.080000,8.208834e+04,2.344150e+03,9.144943e+05
75%,656.500000,0.000000,35.000000,17.415000,16.000000,6277.015000,5593.995000,2.489249e+05,2.354503e+04,1.562346e+06
max,875.000000,116.000000,420.000000,356948.110000,38.000000,50300.280000,17385.290000,4.581831e+06,1.123640e+07,1.450715e+07

In [148]:
df['relief_rozloha'].max()

11236401.64

In [165]:
# give me 2 columns, where zeleznice_delka >= 2000
newDF1 = df[['ID', 'zeleznice_delka']][df.zeleznice_delka >= 10000]
newDF1.to_csv('new.csv')
newDF1.head()

    ID  zeleznice_delka
1    2         10267.07
13  14         26657.17
26  27         11356.58
47  48         10697.59
58  59         13673.30

In [150]:
# a row, where "rozvodniceIII_delka" is maximum
df[df.rozvodniceIII_delka == df.rozvodniceIII_delka.max()]
df[['ID', 'rozvodniceIII_delka']][df.rozvodniceIII_delka == df.rozvodniceIII_delka.max()]

      ID  rozvodniceIII_delka
730  731             17385.29

# Indexy

In [160]:
df.index # rozsah indexů (0-875, 875 is not included)

RangeIndex(start=0, stop=875, step=1)

In [161]:
newDF = df.set_index('ID') # create a new data frame, does not modify the original one
newDF.head()

,find_path_problem,end_start_kombinace,nejlepsi_podil_ploch,pocet_pruseciku,zeleznice_delka,rozvodniceIII_delka,vodni_plohy_rozloha,relief_rozloha,zastavba_rozloha
ID,,,,,,,,,
1,0,20,643.16,3,7653.58,747.59,36261.96,5767.13,456577.71
2,0,12,1.57,19,10267.07,5409.23,138528.54,1145.86,129623.91
3,0,0,0.00,0,3685.11,4942.49,107350.63,2.00,259425.21
4,0,0,0.00,0,1395.98,7101.82,0.00,0.00,17419.58
5,24,63,21.61,9,3580.46,4451.48,64319.63,56606.64,374180.01

In [166]:
newDF.loc[400] # row with index = 400

find_path_problem             0.00
end_start_kombinace          42.00
nejlepsi_podil_ploch          1.16
pocet_pruseciku              25.00
zeleznice_delka           12724.38
rozvodniceIII_delka        8901.99
vodni_plohy_rozloha      179460.61
relief_rozloha                0.00
zastavba_rozloha        2139769.44
Name: 400, dtype: float64