In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# DIBAVOD A03 hrubé úseky
A03 = pd.read_csv(r"C:\fenclova\diplomka\analyza\data\pokusy_povodi\A03_data.csv", delimiter=';')
A03.head()

,OBJECTID,UTOKH_ID,UTOKHN_ID,TOK_ID,NAZ_TOK,IDVT,HLGP_ID,DLK_UTOKH,Shape_Length
0,1,1001700,1001900,100170000100,Kotelský p.,0,101010170,"3,954326120000000","3952,534134751033400"
1,2,1001800,1001900,100180000100,Bílý p.,0,101010180,"3,189163930000000","3187,727310838420200"
2,3,1001900,1002000,100170000100,Kotelský p.,0,101010190,"2,319590720000000","2318,556335791577600"
3,4,1002000,1002200,100140000100,Malé Labe,10100231,101010200,"2,786719850000000","2785,493386937594600"
4,5,1002100,1002200,100210000100,Pekelský p.,0,101010210,"3,564581690000000","3563,014632873361700"

In [15]:
A03[A03.NAZ_TOK == 'Litavka']

,OBJECTID,UTOKH_ID,UTOKHN_ID,TOK_ID,NAZ_TOK,IDVT,HLGP_ID,DLK_UTOKH,Shape_Length
4090,4091,1365100,1365300,136510000100,Litavka,10100052,111040010,"6,740430590000000","6738,734825890152900"
4117,4118,1365300,1365700,136510000100,Litavka,10100052,111040030,"7,781415410000000","7779,416185869894400"
4121,4122,1365700,1365900,136510000100,Litavka,10100052,111040070,"1,970321870000000","1969,815945262795400"
4123,4124,1365900,1366100,136510000100,Litavka,10100052,111040090,"3,696552810000000","3695,600467479097500"
4137,4138,1366100,1366300,136510000100,Litavka,10100052,111040110,"4,214816400000000","4213,742366384403800"
4168,4169,1366300,1366500,136510000100,Litavka,10100052,111040130,"4,633724980000000","4632,556297953865400"
4170,4171,1366500,1366700,136510000100,Litavka,10100052,111040150,"7,121027360000000","7119,267211361327100"
4172,4173,1366700,1367500,136510000100,Litavka,10100052,111040170,"4,274560830000000","4273,506037256885100"
4206,4207,1367500,1369700,136510000100,Litavka,10100052,111040250,"5,515928510000000","5514,575465842083800"
4269,4270,1369700,1369900,136510000100,Litavka,10100052,111040470,"3,943210520000000","3942,234841038853100"
4287,4288,1369900,1370300,136510000100,Litavka,10100052,111040490,"1,029627320000000","1029,370287642189600"
4319,4320,1370300,1370500,136510000100,Litavka,10100052,111040530,"0,395451090000000","395,351994727433180"
4321,4322,1370500,1370600,136510000100,Litavka,10100052,111040550,"3,612198580000000","3611,286168172639900"
7522,7523,4156300,4156400,415630000100,Litavka,0,415030310,"5,265620900000000","5265,688913516193700"

In [17]:
A03[A03.NAZ_TOK == 'Berounka']

,OBJECTID,UTOKH_ID,UTOKHN_ID,TOK_ID,NAZ_TOK,IDVT,HLGP_ID,DLK_UTOKH,Shape_Length
3533,3534,1373400,1373600,133030000100,Berounka,10100011,111050280,"1,199439760000000","1199,128103660161300"
3572,3573,1373600,1373800,133030000100,Berounka,10100011,111050300,"4,247679700000000","4246,564229895574500"
3574,3575,1373800,1374400,133030000100,Berounka,10100011,111050320,"4,329871110000000","4328,716975342559600"
3580,3581,1374400,1374600,133030000100,Berounka,10100011,111050380,"1,303598590000000","1303,247246466095200"
3617,3618,1374600,1374800,133030000100,Berounka,10100011,111050400,"3,312432030000000","3311,530752811241700"
3619,3620,1374800,1374901,133030000100,Berounka,10100011,111050420,"2,230324160000000","2229,710850924086600"
3621,3622,1374901,1374903,133030000100,Berounka,10100011,111050440,"5,837150610000000","5835,525876562961500"
3635,3636,1336900,1337100,133030000100,Berounka,10100011,111010010,"0,555005660000000","554,908206635722310"
3637,3638,1337100,1337300,133030000100,Berounka,10100011,111010030,"9,428916750000001","9427,247220014136500"
3655,3656,1337300,1340801,133030000100,Berounka,10100011,111010050,"4,089974950000000","4089,230601242220900"
3833,3834,1330300,1330500,133030000100,Berounka,10100011,110040020,"1,994990640000000","1994,645530961592800"
3835,3836,1330500,1336900,133030000100,Berounka,10100011,110040040,"0,857925000000000","857,775245910878770"
3846,3847,1340801,1341000,133030000100,Berounka,10100011,111010402,"0,068222880000000","68,210261454363021"
3848,3849,1341000,1341200,133030000100,Berounka,10100011,111010420,"2,911560250000000","2911,018256587898600"
3850,3851,1341200,1341400,133030000100,Berounka,10100011,111010440,"1,721121960000000","1720,798650299860600"
3853,3854,1352000,1352800,133030000100,Berounka,10100011,111020880,"6,815580290000000","6814,312269893141100"
3872,3873,1341400,1343200,133030000100,Berounka,10100011,111010460,"6,013238300000000","6012,127210280391400"
3906,3907,1343200,1352000,133030000100,Berounka,10100011,111010640,"8,696604560000001","8695,011664851259400"
3982,3983,1374903,1374907,133030000100,Berounka,10100011,111050460,"4,365427540000000","4364,203887880652500"
4003,4004,1374907,1375000,133030000100,Berounka,10100011,111050500,"3,514671020000000","3513,673870804147600"
4018,4019,1352800,1353000,133030000100,Berounka,10100011,111020960,"4,740367910000000","4739,466000324758200"
4020,4021,1353000,1353200,133030000100,Berounka,10100011,111020980,"3,421800980000000","3421,139267458669600"
4023,4024,1363000,1363600,133030000100,Berounka,10100011,111030440,"8,727792600000001","8725,783833513585700"
4037,4038,1353200,1355000,133030000100,Berounka,10100011,111021000,"6,859137120000000","6857,763177273753200"
4048,4049,1363600,1363800,133030000100,Berounka,10100011,111030500,"7,072540170000000","7070,874624515578900"
4050,4051,1363800,1364200,133030000100,Berounka,10100011,111030520,"1,840980990000000","1840,537912293126100"
4054,4055,1364200,1364600,133030000100,Berounka,10100011,111030560,"1,835281060000000","1834,834048897490900"
4085,4086,1364600,1364800,133030000100,Berounka,10100011,111030600,"0,937544030000000","937,313626319615880"
4087,4088,1364800,1365000,133030000100,Berounka,10100011,111030620,"3,649407490000000","3648,498988417632100"
4089,4090,1365000,1370600,133030000100,Berounka,10100011,111030640,"4,265112630000000","4264,032651923756900"
4110,4111,1355000,1355200,133030000100,Berounka,10100011,111021180,"1,140846840000000","1140,612068516585600"
4112,4113,1355200,1355400,133030000100,Berounka,10100011,111021200,"0,840583360000000","840,408984172783330"
4114,4115,1355400,1357400,133030000100,Berounka,10100011,111021220,"1,866635460000000","1866,243135287835700"
4205,4206,1357400,1357600,133030000100,Berounka,10100011,111021420,"2,482213640000000","2481,683436197435600"
4228,4229,1357600,1358000,133030000100,Berounka,10100011,111021440,"0,886399410000000","886,207525748621260"
4256,4257,1358000,1358400,133030000100,Berounka,10100011,111021480,"5,461865920000000","5460,674825833471000"
4260,4261,1358400,1358600,133030000100,Berounka,10100011,111021520,"4,608666810000000","4607,637399275417000"
4262,4263,1358600,1363000,133030000100,Berounka,10100011,111021540,"1,705842130000000","1705,456260658226900"
4322,4323,1370600,1373400,133030000100,Berounka,10100011,111040560,"3,614225160000000","3613,295359296821500"